body {
    cursor: crosshair;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.status-image {
    display: block;
    padding-bottom: 20px;
}

a:link {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #1D1D1D;
    text-decoration: none
}

a:visited {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #1D1D1D;
    text-decoration: none
}

a:active {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #1D1D1D;
    text-decoration: none
}

a:hover {
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    color: #6E6E6E;
    text-decoration: none;
    cursor: hand
}

input[type=text] {
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    border: 0px;
    background-color: white;
}

.container {
    padding: 15px;
    max-width: 390px;
    margin: auto;
}